body{
    background-image: url("https://wallpapercave.com/wp/wp4946024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
}
.container{
    background: rgba(252, 252, 252, 0.842);
    border-radius: 20px;
    padding-left: 150px !important;
    padding-right: 150px !important;
}
#Head{
    color:red;
    text-align: center;
    font-family: 'Fruktur', cursive;
    
}
#Q1{
    color:red;
    font-family: 'Fruktur', cursive;
}
span{
    color:black;
}
#photoA{  
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 300px;
    height: 180px;
    transition: 1s;
    object-fit:cover;
    background: rgba(255, 255, 255, 0.507);
    
    }  
#photoB{  
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 300px;
    height: 180px;
    transition: 1s;
    object-fit:fill;
        
        } 
#photoA:hover{
    width:400px;
}
#photoB:hover{
    width:400px;
}
    
table, td{
    border: 1px solid black !important;
}
table, th, td{
    border: 1px solid black;
    font-family: 'Architects Daughter', cursive;
    
    
}
body{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3cm;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}
.logo{
    border-style: none !important;
}
h2,h1{
    font-family: 'Fruktur', cursive;
}
#what,#playing{
    font-family: 'Architects Daughter', cursive;
    text-indent: 3cm;
}
p{
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    text-indent: 3cm;
}
figcaption,ul, #top{
    font-family: 'Space Grotesk', sans-serif;
    font-size: x-large;
}
a:link{
    text-decoration: none;
    color: red;
}
a:visited{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
a:active{
    text-decoration: underline;
    color: green;
}

.video{
    border-style: none;
}
#demo{
    font-family: 'Fruktur', cursive;
}
#removea, #removeb, #removec, #removed, #removee{
    text-decoration: none;
}
#top{
    text-decoration: none;
}
#backtotop{
    text-decoration: none;
    color: red;

}
#linea,#lineb,#linec,#lined{
    text-decoration: none;
}
#seimei, #kagura, #hiromasa, #yaobikuni{
    text-decoration: none;
    color:black;
}
#speed, #yamausagi, #healer, #enmusubi, #orbs, #zashiki, #primary, #blazing, #secondary, #tamamonomae{
    text-decoration: none;
    color:black;
}
footer{
    background: rgba(255, 255, 255, 0.788);
    margin-top: 5cm;
    padding-bottom: 0px;
    width: 80%;
    border-radius: 20px;
    padding-left: 1cm;
}
#top{
    margin-top: 2cm;
    background: rgba(255, 255, 255, 0.808);
    position: absolute;
    border-radius: 20px;
    padding: 10px;
}

.skillicon{
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}

.backhome{
    text-decoration: none !important;
    color: white !important;
    margin-top: 20px !important;
}

.backhome:hover{
    color: white;
    
}
.btn{
    margin-top: 1cm;
}